@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutUvod.cshtml";
}

<div class="fullVideo">
<video id="JokerStartVideo" style="width:100%" autoplay playsinline>
    <source src="~/Content/Video/Joker.mp4" type="video/mp4">
</video>
</div>
